/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
/* table, */
caption,
/* tbody,
tfoot,
thead,
tr,
th,
td, */
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Sarabun", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
/* table {
  border-collapse: collapse;
  border-spacing: 0;
} */

a,
a:hover,
a:visited {
  color: #0068a7;
  text-decoration: none;
}

/* BS5 Modify */
.btn {
  border: none;
  font-size: 14px;
}

a.btn {
  color: #ffffff;
}

.btn-primary {
  background-color: #0068a7;
}

.btn-secondary {
  background-color: #a7a7a7;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.main-content {
  padding: 20px;
}

.main-content h1 {
  font-size: 20px;
  margin: 0 10px 20px;
  color: #0068a7;
}

.main-content h1 b {
  font-size: 24px;
}

.card-header {
  border-bottom: 0;
  color: #0068a7;
  font-size: 16px;
}

.modal-dialog .modal-footer {
  display: flex;
}

.modal-dialog .modal-footer .btn {
  flex: 1;
}

.nav-tabs {
  border-bottom-color: #0068a7;
}

.nav-tabs .nav-link {
  border-color: #dbdbdb;
  border-bottom-color: #0068a7;
  color: #9b9b9b;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #0068a7;
  border-color: #0068a7;
}

.tab-pane {
  padding: 20px;
}

.tab-content > .tab-pane {
  border: 1px solid #0068a7;
  border-top: none;
}

.table .form-control-plaintext,
.table th {
  vertical-align: middle;
  text-align: center;
}

.table thead tr {
  background-color: #0068a7;
}

.table thead tr th {
  color: #ffffff;
  width: 36px;
}

.table tbody tr th {
  text-align: left;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #deffff;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: transparent;
  background-color: #ffffff;
}

.table > tbody > tr.row-summary {
  border: 1px solid red;
}

.table > tbody > tr.row-summary > td {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.table > tbody > tr.row-last {
  background-color: #a2ecff;
}

.table > tbody > tr > td.color-red {
  color: red;
}

.table > tbody > tr > td.bg-red {
  color: #ffffff;
  background-color: red;
}

.table > tbody > tr > td.bg-yellow {
  background-color: #fffade;
}

/* Main CSS */
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-size: 14px;
}

.header {
  width: 100%;
  height: 48px;
  background-image: url(/assets/borneo-header.jpg);
  background-size: cover;
  background-position: center;
}

.header .logo {
  width: 78px;
  margin: 6px 10px;
}

.header .profile {
  text-align: right;
  float: right;
}

.header .profile p {
  padding: 16px 10px;
}

.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  padding: 5px 0;
}

/* Portal Page */
.portal-page {
  background-image: url(/assets/borneo.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.portal-page .header {
  display: none;
}

.portal-page .footer {
  color: #ffffff;
}

.portal-page .logo {
  position: absolute;
  left: 0;
  right: 0;
  top: -15%;
  bottom: 0;
  margin: auto;
  width: 30%;
}

.portal-page nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 122px;
  background-color: #0068a7;
}

.portal-page nav ul {
  margin-top: -25px;
  display: flex;
}

.portal-page nav ul li {
  flex: 1;
}

.portal-page nav ul li:hover {
  opacity: 0.95;
}

.portal-page nav ul li a {
  padding: 20px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #0068a7;
  display: flex;
  background: rgb(183, 183, 183);
  background: -moz-linear-gradient(
    0deg,
    rgba(183, 183, 183, 1) 0%,
    rgba(252, 252, 252, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(183, 183, 183, 1) 0%,
    rgba(252, 252, 252, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(183, 183, 183, 1) 0%,
    rgba(252, 252, 252, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b7b7b7",endColorstr="#fcfcfc",GradientType=1);
}

.portal-page nav ul li a .ic {
  width: 46px;
  height: 46px;
  flex: 1;
}

.portal-page nav ul li a .title {
  flex: 3;
  padding: 6px 0;
}

.portal-page nav ul li a .title p {
  line-height: 1.2;
}

.portal-page nav ul li a .title p:last-child {
  font-size: 0.8rem;
}

/* Transport Page */
#transport-search {
  margin-right: 10px;
}

/* Chart.js */
@keyframes chartjs-render-animation {
  from {
    opacity: 0.99;
  }
  to {
    opacity: 1;
  }
}
.chartjs-render-monitor {
  animation: chartjs-render-animation 1ms;
}
.chartjs-size-monitor,
.chartjs-size-monitor-expand,
.chartjs-size-monitor-shrink {
  position: absolute;
  direction: ltr;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}
.chartjs-size-monitor-expand > div {
  position: absolute;
  width: 1000000px;
  height: 1000000px;
  left: 0;
  top: 0;
}
.chartjs-size-monitor-shrink > div {
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
}
